 @font-face { font-family: Raleway; src: url('Raleway/Raleway-Regular.ttf'), url('Raleway/Raleway-Regular.woff'); } 
 @font-face { font-family: Raleway; font-weight: 100; src: url('Raleway/Raleway-Thin.woff'), url('Raleway/Raleway-Thin.ttf');}
 @font-face { font-family: Raleway; font-weight: 200; src: url('Raleway/Raleway-ExtraLight.ttf'), url('Raleway/Raleway-ExtraLight.woff');}
 @font-face { font-family: "Slim Joe"; src: url('Slim Joe/Slim Joe.otf'); } 

body, html {
	font-family: 'Raleway', sans-serif;
    height:100%;
    min-height:100%;
    min-width: 700px;
    margin:0;
    padding:0;
	background-attachment:fixed;
	background-size: cover;
	background-repeat: no-repeat;	
}

/* Slide show */
header {
    position: absolute;
    left: 0; top: 0;
    width: 100%;
    padding: 0; margin: 0;
    height: 58%;
    overflow: hidden;
}
#slideshow img {
    position: absolute;
    min-width: 700px;
    float: left;
    width: 100%;
    top: 0;
    display: none;
    z-index: -1;
}
#slideshow img.active {
    display: block;
}
#logo img {
    position: absolute;
    right: 0; right: 3%;
    width: 43%;
}
#balls {
    position: absolute;
    bottom: 3%;
}
#balls img {
    float: left;
    width: 15%;
    margin-left: 2%;
    margin-right: 2%;
}
#balls img:hover {
    cursor: pointer;
}


/* Navigation menu */
#mainnav {
    position: absolute;
    width: 100%;
    top: 58%;
}
#mainnav ul {
    margin: 0;
    padding: 0;
}
#mainnav ul li {
    font-family: "Slim Joe";
    font-size: 26pt;
    text-align: center;
    width: 25%;
    float: left;
    list-style-type: none;
    padding: 0; margin: 0;
    padding-top: 1%;
    padding-bottom: 1%;
}
#mainnav ul li:hover {
    cursor: pointer;
}

.page {
    position: absolute;
    top: calc(58% + 26pt + 2%); /* Top of #mainnav + height of text + padding*2 */
    margin: 8% 8% 3% 8%;
    
    -webkit-columns: 2; /* Chrome, Safari, Opera */
    -moz-columns: 2; /* Firefox */
    columns: 2;
    -webkit-column-gap: 50px; /* Chrome, Safari, Opera */
    -moz-column-gap: 50px; /* Firefox */
    column-gap: 50px;
}
hr {
    width: 100%;
    height: 0px;
    padding: 0; margin: 0;
}

/* Footer */
footer {
    height: 8%;
    width: 100%;
    position: absolute; 
/*
    bottom: 0;
*/
}
.footer_icon img{
	width: 100%;
}
.footer_icon {
	float: left;
	margin: 1.5%;
	width: 22%;
}
.footer_icon_container {
	width: 16.5%;
	margin-left: 41.75%;
}
