 @font-face { font-family: "Slim Joe"; src: url('Slim Joe/Slim Joe.otf'); } 

body, html {
	font-family: 'Century Gothic', sans-serif;
    min-height:100%;
    min-width: 700px;
    margin:0;
    padding:0;
	background-attachment:fixed;
	background-size: cover;
	background-repeat: no-repeat;
	line-height: 1.7em;
}

/* Slide show */
header {
    position: absolute;
    left: 0; top: 0;
    width: 100%;
    padding: 0; margin: 0;
    height: 58%;
    overflow: hidden;
}
#slideshow img {
    position: absolute;
    min-width: 700px;
    float: left;
    width: 400%;
    left: 0;
    top: 0;
    z-index: -1;
    display: block;
}

/* 
Logo verhouding: 1500x887
    width: 46.124%; bij height 78%
 */
#logo img { 
    position: absolute;
    right: 3%;
    height: 78%;
    top: 11%;
}
#balls {
    position: absolute;
    bottom: 3%;
}
#balls img {
    float: left;
    width: 10%;
    margin-left: 2%;
    margin-right: 2%;
}
#balls img:hover {
    cursor: pointer;
}


/* Navigation menu */
#mainnav {
    position: absolute;
    width: 100%;
    top: 58%;
}

#mainnav ul {
    margin: 0;
    padding: 0;
}
#mainnav ul li {
    font-family: "Slim Joe";
    font-size: 26pt;
    text-align: center;
    width: 25%;
    float: left;
    list-style-type: none;
    padding: 0; margin: 0;
    padding-top: 1%;
    padding-bottom: 1%;
}
#mainnav ul li:hover {
    cursor: pointer;
}

.page {
    position: absolute;
    top: calc(58% + 26pt + 2%); /* Top of #mainnav + height of text + padding*2 */
    margin: 4% 8% 8% 8%;
    width: calc(100% - 16%); /* Full page width minus margin at both sides. Is nodig omdat anders de animatie niet goed werkt.*/ 
    overflow-y: hidden;
    overflow-x: hidden;
    
/* 	Columns voor de normale opmaak. Aangezien we nu opmaak hebben per pagina, schakel ik dit uit.
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
    -webkit-column-gap: 50px;
    -moz-column-gap: 50px;
    column-gap: 50px;
 */
}


hr {
    width: 100%;
    height: 0px;
    padding: 0; margin: 0;
/*    De border van de hr zorgt voor een overflow in de x-richting*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/* Footer */

footer {
    height: 8%;
    width: 100%;
    position: absolute; 

}
.footer_icon_container img{
	float:left;
	width: 22%;
	margin: 1.5%;
}
.footer_icon_container {
	width: 180px;
	margin-left: auto;
	margin-right: auto;
}


/* Info */

#info-read-more-block {
    display: inline-block;
}
#info-left {
    position: absolute;
    right: auto;
    top: 40%;
    left: 8%;
    width: 39%;
}
#info-right {
    position: absolute;
    top: 40%;
    right: 8%;
    width: 39%;
}
#info-expand {
    
}
#Info p {
    margin: 0; padding: 0;
    width: 100%;
}
#Info img {
    display: block;
    float: right;
    clear: both;
    width: 100%;
}
#info-expand {
    font-weight: bolder;
}

.conf {
	float: left;
	margin: 0.5%;
	cursor: pointer;
}

.conf_nr {
	font-size: calc(4*1.7em);
	margin-top: 0.3em;
}

.cont_inf {
	position: absolute;
	line-height: 1.7em;
	top: -1.7em;
	opacity: 0;
}

/* Contacts */

/* 
|8%[38%]8%[38%]8%|
 */
#contact_left {
	width: 46%;
	float: left;
}

#contact_right {
	width: 46%;
	float: left;
	position: absolute;
	right: 0;
	margin-bottom: 8%;
}

#contacts_container {
	margin-left: -1%;
	margin-top: 18%;
	margin-bottom: calc(7*1.7em);
	width: 103%;
	float: left;
}

.profile {
	float: left;
	margin: 1%;
}

.profile div {
	line-height: 1.7em;
	margin-top: calc(-5.2 * 1.7em);
	position: absolute;
	opacity: 0;
	z-index: -1;
}
